Extensions/ExpressMicroPermissions/bin/
Extensions/ExpressMicroPermissions/obj/
JetTask.Benchmarks/obj/
JetTask.UnitTests/obj/
JetTask/bin/Debug/
JetTask/obj/
JetTask/.vs/
Extensions/ExpressMicroPermissions/Migrations/
JetTask.Benchmarks/bin/
JetTask.Commons/bin/
JetTask.Commons/obj/
JetTask.DataAccess/bin/
JetTask.DataAccess/obj/
JetTask.Entities/obj/
JetTask.Repository/obj/
JetTask.UnitTests/bin/
JetTask.Entities/bin/
JetTask.Repository/bin/
