.logo-image {
    width: 27px !important;
    margin-right: 12px !important;
}

.ticket-id {
    margin-left: 25px !important;
}

.normal {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 68px;
}

.background {
    background: #3f3d56 !important;
}