@{
    ViewData["Title"] = "Home Page";
}

<div class="ui fluid container">

    <div class="ui steps">
        <div class="link step">
            <i class="folder icon"></i>
            <div class="content">
                <div class="title">Projects</div>
                <div class="description">Show a list of projects added</div>
            </div>
        </div>
        <div class="link step">
            <i class="folder open icon"></i>
            <div class="content">
                <div class="title">CQRM Solutions</div>
                <div class="description">From Ajith Samuel</div>
            </div>
        </div>
        <div class="link step">
            <i class="folder open outline icon"></i>
            <div class="content">
                <div class="title">Sprint 1</div>
                <div class="description">Expected delevery on 12th Dec</div>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="three wide column">
            <img style="width: 100%;" src="~/images/undraw_watch_application_uhc9.svg" />
            <div class="ui violet active progress" data-percent="74" id="progressbar" style="margin-top:20px">
                <div class="bar">
                </div>
            </div>
            <div class="ui vertical fluid menu">
                <div class="item">
                    <div class="header">Sprint v1</div>
                    <div class="menu">
                        <a class="item">From: 12th Jan 2020, 12:44 PM, Monday</a>
                        <a class="item">To: 12th Jan 2020, 12:44 PM, Monday</a>
                    </div>
                </div>
            </div>
            <div class="ui fluid buttons" style="margin-bottom:10px">
                <button class="ui labeled icon button">
                    <i class="left chevron icon"></i>
                    Prev Sprint
                </button>
                <button class="ui right labeled icon button">
                    Next Sprint
                    <i class="right chevron icon"></i>
                </button>
            </div>
            <button class="negative ui fluid button">Close Sprint</button>
        </div>
        <div class="thirteen wide column" style=" margin-top: 20px;">
                        

            <div class="ui four statistics">
                <div class="statistic">
                    <div class="text value">
                        <span style="color:darkviolet">FIVE</span> <br />MORE DAYS
                    </div>
                    <div class="label">
                        To Deliver
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <span style="color:darkviolet">8</span>/12
                    </div>
                    <div class="label">
                        Tasks Completed
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="bug icon"></i>
                        <span style="color:darkviolet">9</span>
                    </div>
                    <div class="label">
                        Issues Or Bugs
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        134.12.1
                    </div>
                    <div class="label">
                        New Version
                    </div>
                </div>
            </div>


            <h3 class="ui top attached header">
                Active Tickets
            </h3>
            <div class="ui attached segment">
                <div class="ui middle aligned selection list">
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui red horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                            <div class="right floated content">
                                <div class="right floated content">
                                    <a class="ui orange label">
                                        <div class="detail">IN DEVELOPMENT</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui violet horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                            <div class="right floated content">
                                <div class="right floated content">
                                    <a class="ui red label">
                                        <div class="detail">QA FAILED</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui violet horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui red horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <h3 class="ui top attached header">
                Completed Tickets
            </h3>
            <div class="ui attached segment">
                <div class="ui middle aligned selection list">
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui violet horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                            <div class="right floated content">
                                <a class="ui green label">
                                    <div class="detail">DEVELOPMENT DONE</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui violet horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui red horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <h3 class="ui top attached header">
                Awaits And Holds
            </h3>
            <div class="ui attached segment">
                <div class="ui middle aligned selection list">
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui red horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                            <div class="right floated content">
                                <a class="ui green basic label">DEVELOPMENT DONE</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui violet horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                            <div class="right floated content">
                                <a class="ui blue basic label">IN DEVELOPMENT</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui violet horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui fluid segment">
                            <div class="ui fitted checkbox">
                                <input type="checkbox">
                                <label>
                                    <a class="ui red horizontal label ticket-id">SM-123</a>
                                    Change Tile Labels To Defaults
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

</div>

<script>
    $('.ui.accordion').accordion();
    $('#progressbar').progress();
</script>